* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, yellow, red, firebrick, maroon, maroon, rgb(192, 0, 0), red, yellow);
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0;
    font-weight: bolder;
    color: black;
    max-width: 1008px;
}

#gameContainer, #instructions {
    display: inline-block;
    border: 8px solid firebrick;
    padding: 0;
    margin: 0;
}

#gameContainer {
    border-bottom: 1px;
    background: firebrick;
}

.instructions {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: gold;
    font-size: 28px;
    text-align: left;
}

#instructions {
    display: inline-block;
    padding: 10px;
    width: 100%;
}

footer {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
    -webkit-text-fill-color: rgba(178, 34, 34, 0.2);
    font-size: 50px;
}
